## Домашка Pandas часть 1

----
### Блок 1
----

#### Задача 1.1 
*Ваш коллега создал df — объект DataFrame и передал в работу вам:*
| I   | II  | III |
|-----|-----|-----|
| 0   | 1.0 | 5.0 | NaN |
| 1   | 2.0 | 6.0 | NaN |
| 2   | 3.0 | NaN | 7.0 |
| 3   | 4.0 | NaN | 6.0 |
1.	Замените индексы строк на последовательность чисел от 1 до 4, используя соответствующий метод библиотеки Pandas. 

2.	Переименуйте названия колонок в последовательность букв A, B, C используя соответствующий метод библиотеки Pandas. 

3.	Замените пропущенные значения числом 55.

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.nan, index=[0, 1, 2, 3], columns=['I', 'II', 'III'])
# далее ваш код

df = df.set_axis([1, 2, 3, 4], axis='index')
df = df.set_axis(['A', 'B', 'C'], axis='columns')
df = df.fillna(55)
df

      A     B     C
1  55.0  55.0  55.0
2  55.0  55.0  55.0
3  55.0  55.0  55.0
4  55.0  55.0  55.0

#### Задачка 1.2
#### Анализ продаж и ассортимента магазина фруктов
Используя имеющийся фрагмент кода (см. окно ввода ответа), выполните последовательно следующие задания:

1.	Сделайте срез по условию для df. Выберите все строки со значением Q больше 3, для которых значение переменной Shop — это Shop A. Сохраните результат в переменную subset. Получите значение колонки total для второй строки получившегося среза subset и сохраните его в переменную total2.

2.	Посчитайте общую выручку в разбивке по всем фруктам (колонка total), результат (объект Series) сохраните в переменную fruit_total.

3.	Посчитайте общее количество (колонка Q) всех фруктов в разбивке по названию, результат (объект Series) сохраните в переменную fruit_quantity.

4.	Посчитайте среднюю цену (колонка P) лимонов, результат (объект Series) сохраните в переменную lemon_average_price.

In [20]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
                 "apples", "apples", "apples", "apples",
                 "apples", "apples", "apples"],
                dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop B", "Shop B", "Shop A"],
                dtype=object)

pl = np.array(["online", "online", "offline",
                 "online", "online", "offline",
                 "offline", "online", "offline",
                 "offline", "offline"],
                dtype=object)



df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
                   "Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
                   "P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3,3]})
df['total'] = df['Q']*df['P']
# далее запишите ваш код

subset = df[(df['Q'] > 3) & (df['shop'] == 'Shop A')].reset_index()
total2 = subset['total'][1]
fruit_total = df.groupby('fruit')['total'].sum()
fruit_quantity = df.groupby('fruit')['Q'].sum()
lemon_average_price = pd.Series(df.groupby('fruit')['P'].mean()['lemons'])

#### Задача 1.3
#### Анализ продаж и ассортимента магазина фруктов (продолжение)
Используя имеющийся фрагмент кода (см. окно ввода ответа), выполните следующее задание:

1.	Создайте сводную таблицу датафрейма df, где будет выведено значение переменной total с разбиением по строкам — категориям переменной shop и колонками по переменной pl. Используйте сумму как метод сведения и сохраните таблицу в переменную pivot.

2.	Выведите значение для второй колонки второй строки таблицы pivot.

In [33]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
                 "apples", "apples", "apples", "apples",
                 "apples", "apples", "apples"],
                dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop B", "Shop B", "Shop A"],
                dtype=object)

pl = np.array(["online", "online", "offline",
                 "online", "online", "offline",
                 "offline", "online", "offline",
                 "offline", "offline"],
                dtype=object)



df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
                   "Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
                   "P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3,3]})
df['total'] = df['Q']*df['P']
# далее запишите ваш код

pivot = df.pivot_table(values='total',
                       index='shop',
                       columns='pl',
                       aggfunc='sum')

pivot.iloc[1, 1]

np.int64(69)

#### Задача 1.4 
#### Первичное исследование данных

Для этого задания вы можете использовать любой доступный вам набор данных. Например, выберите и загрузите интересный для вас датасет с сайта Kaggle.

Что нужно сделать:

1.	Создайте Python-ноутбук, загрузите в него данные из csv-файла.

2.	Изучите выбранный набор данных — определите количество столбцов, названия столбцов, типы данных столбцов, использование памяти, индекс диапазона и количество ячеек в каждом столбце (ненулевые значения).

3.	Определите, содержатся ли в данных пропущенные значения и строки-дубликаты.


4.	Изучите функции библиотеки Pandas для работы с объектом DataFrame.Подумайте, какие из них могли бы пригодиться при предобработке данных, попробуйте применить их к выбранному набору данных.

По каждому пункту задания сделайте выводы и отразите их в созданном Python-ноутбуке.

----
### Блок 2
----

#### Задача 2.1
У тебя есть два набора данных:

Первый DataFrame (df1) содержит информацию о продажах товаров в магазине:
- product_id — идентификатор товара,
- product_name — название товара,
- category — категория товара.

Второй DataFrame (df2) содержит данные о количестве проданных единиц:
- product_id — идентификатор товара,
- date — дата продажи,
- units_sold — количество проданных единиц.

*Тебе нужно:*

- Объединить эти два DataFrame по столбцу product_id.

- Посчитать общее количество проданных единиц (units_sold) для каждой категории товаров (category).

- Отсортировать результат по убыванию общего количества проданных единиц.

In [38]:
import pandas as pd

# Первый DataFrame
df1 = pd.DataFrame({
    'product_id': [1, 2, 3, 4],
    'product_name': ['Ноутбук', 'Книга', 'Телевизор', 'Журнал'],
    'category': ['Электроника', 'Книги', 'Электроника', 'Книги']
})

# Второй DataFrame
df2 = pd.DataFrame({
    'product_id': [1, 2, 3, 1, 4],
    'date': ['2023-10-01', '2023-10-01', '2023-10-02', '2023-10-02', '2023-10-03'],
    'units_sold': [5, 10, 3, 2, 15]
})

# твой код далее:
df = pd.merge(df1, df2, on='product_id')
df_count = df.groupby('category')['units_sold'].sum()
df_count.sort_values(ascending=False)

category
Книги          25
Электроника    10
Name: units_sold, dtype: int64

#### Задача 2.2
У вас есть два DataFrame: orders_df (информация о заказах) и customers_df (информация о клиентах). 
Ваша задача — проанализировать данные о продажах, учитывая категории клиентов и динамику заказов по месяцам.

Задание:

- Преобразуйте столбец order_date в формат datetime.
- Обработайте пропущенные значения в столбце quantity: для VIP-клиентов замените на 1, для остальных — на среднее значение по их категории, округленное до целого числа.
- Создайте столбец total_price как произведение quantity и price.
- Объедините orders_df и customers_df по customer_id.
- Найдите топ-2 категории клиентов по общей сумме покупок.
- Для каждой из этих категорий выведите:
Общую сумму покупок.
Среднее количество заказов на клиента.
Динамику общей суммы покупок по месяцам (в виде таблицы или словаря).
- Отсортируйте результат по убыванию общей суммы покупок.

In [ ]:
import pandas as pd
import numpy as np

# DataFrame с заказами
orders_df = pd.DataFrame({
    'order_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'customer_id': [101, 102, 103, 101, 104, 105, 102, 106, 107, 103],
    'order_date': ['2023-01-15', '2023-02-10', '2023-01-20', '2023-03-05', '2023-02-25',
                   '2023-03-15', '2023-04-01', '2023-04-10', '2023-05-01', '2023-05-15'],
    'product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Laptop', 'Mouse'],
    'quantity': [1, 2, np.nan, 1, 2, 3, 1, np.nan, 2, 1],
    'price': [1000, 25, 50, 300, 1000, 25, 50, 300, 1000, 25]
})

# DataFrame с клиентами
customers_df = pd.DataFrame({
    'customer_id': [101, 102, 103, 104, 105, 106, 107],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'category': ['VIP', 'Regular', 'VIP', 'Regular', 'New', 'New', 'Regular']
})

# ваш код далее

#### Задача 2.3: Анализ данных о заказах и клиентах
У вас есть два DataFrame:

- orders_df: Содержит данные о заказах с колонками:
- order_id: Уникальный идентификатор заказа.
- customer_id: Идентификатор клиента.
- order_date: Дата заказа (в формате 'YYYY-MM-DD').
- amount: Сумма заказа (в рублях).
- customers_df: Содержит данные о клиентах с колонками:
- customer_id: Идентификатор клиента.
- customer_name: Имя клиента.
- region: Регион клиента (например, 'Москва', 'Санкт-Петербург').

Ваша задача:

- Объединить два DataFrame, чтобы связать каждый заказ с информацией о клиенте.
- Отфильтровать заказы, сделанные в течение последнего квартала 2023 года (с 1 октября по 31 декабря 2023 года).
- Подсчитать общую сумму заказов для каждого региона.
- Найти регион с наибольшей общей суммой заказов.
- Если в колонке amount есть пропущенные значения, заменить их средним значением суммы заказов для соответствующего региона.

In [ ]:
import pandas as pd
import numpy as np

# Пример данных (для тестирования)
orders_df = pd.DataFrame({
    'order_id': [1, 2, 3, 4, 5, 6],
    'customer_id': [201, 202, 203, 201, 204, 202],
    'order_date': pd.to_datetime(['2023-09-15', '2023-10-05', '2023-11-20', '2023-12-01', '2023-12-15', '2023-11-10']),
    'amount': [1000, np.nan, 1500, 2000, 1200, np.nan]
})

customers_df = pd.DataFrame({
    'customer_id': [201, 202, 203, 204],
    'customer_name': ['Алексей', 'Мария', 'Иван', 'Ольга'],
    'region': ['Москва', 'Санкт-Петербург', 'Москва', 'Казань']
})

#Далее ваш код